h1{
  color:LightSalmon;
  background-color: Wheat;
}
#lorem1{
  color:RosyBrown;
  background-color: Azure;

}
#lorem2{
  color:RosyBrown;
  background-color:AliceBlue;
}

.abc{
  background-color: AliceBlue;
}
h2{
  color:CornflowerBlue;
}

li{
  color: Salmon;
  margin: 10px ;
}

p{
  line-height: 1.5;
  text-align: justify;
  margin-right: 600px;


}
