h1, h2{
  color: #A4A400;
  background-color: #F0F0F0;
}
h1{
  text-align: center;
  font-weight: bold;
  font-size: 22pt;
}
h2{
  text-align: left;
  font-size: 18pt;
  text-decoration: underline;
}
body{
  background-color: white;
  color:#404040;
  font-size:11pt;
  background-image: url(silverware.jpg);
}
#list1{
  list-style-type: none;
  margin: 0px;
}
.list2{
  list-style-image: url(pie_icon.gif);
}

}
body{
  background-color: white;
  color:#404040;
  font-size:11pt;
  background-image: url(silverware.jpg);
}
a{
  color:#A4A400;
}
.underlined{
  text-decoration: underline;
}
.boldtext{
  font-weight: bold;
}
.posted{
  text-align: justify;
}
.lined{
  text-decoration:line-through;
}
.usercomments li{
  font-style: italic;
  list-style-type: none;
  background-color: #FFFFa3;
}
