/* Alegria Haro ** webdev */
body {
		background-image: url("background.png");
		font-size: 8pt;
		font-family: Tahoma;
		margin: 0;
		padding: 0;
}

#banner {
		background-image: url("bannerbg.png");
		background-repeat: repeat-x;
}

#otherbanner {
			display: block;
			margin-left: auto;
			margin-right: auto;
}


h1 {
	text-align: center;
	font-size: 24pt;
	text-shadow: 3px 3px #999999;

}

#reviews {
		border: 4px solid gray;
		border-radius: 20px 20px 20px 20px;
		width: 800px;
		margin-left: auto;
		margin-right: auto;
		overflow: visible;
}

#rating {
		background-image: url("rbg.png");
		background-repeat: repeat-x;
		border-radius: 15px 15px 0px 0px;
		background-clip: border-box;
		padding: 0px;
}

#bigrating {
		border-radius: 20px 0px 0px 0px;
		text-align: left;
}

strong {
		color: red;
		font-size: 48pt;
		text-align: center;
		vertical-align: text-bottom;
		margin-left: 5%;
}

#sidebar {
				background-color: #A2B964;
				width: 250px;
				font-size: 8pt;
				font-family: Arial;
				border-radius: 00px 15px 0px 0px;
				float: right;
}

#movie {
		border-radius: 00px 15px 0px 0px;
}

dt {
	font-weight: bold;
	margin-top: 10pt;
}

d1 {
	padding: 10pt;
	margin-top: -10px;
}

.column {
		column-count: 2;
		column-width: 188px;
		column-gap: 16px;
		padding: 10px;
}

.reviews {
		clear: both;
		break-inside: avoid;
}

.box {
		font-size: 8pt;
		font-weight: bold;
		background-color: #E8DC9B;
		border: 2px solid gray;
		border-radius: 10px 10px 10px 10px;
		margin-bottom: 20px;
		padding: 10px;
		overflow: auto;
}

#reviewsymbol {
			float: left;
			margin-right: 5px;
}

q {
	font-weight: bold;
	page-break-inside: avoid;
}

#pages {
		background-color: #A2B964;
		clear: both;
		overflow: auto;
		border-radius: 0px 0px 15px 15px;
		text-align: center;
}

#link {
	position: fixed;
	left: 93%;
	bottom: 0;
	opacity: 0.5;
}
