#banner{
  background-image: url(bannerbg.png);
  text-align: center;
  length: 50px;
  padding: 0px;

}
body{
    background-image: url(background.png);
    font-family: Tahoma, Verdana, sans-serif;
    font-size: 8pt;
}
h1{
  font-style: Verdana;
  font-size: 24pt;
  font-weight: bold;
  text-shadow: 3px 3px #999999;
  text-align: center;
}
#sidebar{
  float: right;
  text-align: center;
  background-color: #A2B964;
  width: 250px;
  font-size: 10pt;
  font-family: Arial, sans-serif;
}
dt{
  font-size: 10pt;
  font-weight: bold;
  text-align: left;
}
dd{
  font-weight: normal;
  text-align: center;
}
#overall{
  width: 800px;
  border: 4px solid grey;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  border-radius:8px;
}

#rating{
    font-size: 48pt;
    font-weight: bold;
    color: red;
    background-image: url(rbg.png);
    margin-top: 0px;
    border-top-left-radius: 8px;
    clip: border;
    height: 83px;
    vertical-align: bottom;
}
#rating > img{
  vertical-align: bottom;
}
.column1{
float: left;
width:250px;
}
.column2{
float:left;
width:250px;
}
.review{
  background-color: #E8DC9B;
  border-style:  groove;
  border: 2px thick grey;
  border-radius: 10px;
  margin: 8px;
}
.comp{
line-height: 2em;
padding-left: 1em;
}
#revnumbers {
	clear: both;
	background-color: #A2B964;
	padding: 5px;
	margin: 0px;
	text-align: left;
}

#links {
	text-align: right;
	opacity: 0.5;
}
